span {
    text-decoration: underline;
}

.a a {

    color: orange;
}

.A {
    color: blue;
}

.b {
    background-color: yellow;
}

.c {
    list-style-type: none;
}

.d {
    color: red;
}

.e {
    color: blue;
}

